.git
.github
.redwood
.env
.env.*
.DS_Store
node_modules
web/node_modules
api/node_modules
web/dist
api/dist
dist
dist-babel
coverage
yarn-error.log
web/public/mockServiceWorker.js
web/types/graphql.d.ts
api/types/graphql.d.ts
api/src/lib/generateGraphiQLHeader.*
.pnp.*
.yarn/install-state.gz
